.searchWrapper {
    width: 390px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    position: relative;

}

.input {
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
}

.icon {
    position: absolute;
    left: 360px;
    top: 55px;
}

.searchText {
    margin-bottom: 5px;
    font-weight: 500;
}